<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbu.mapper.StudentMapper">
    <update id="update">
        update edu.students
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="age!=0 and age!=null">
                age=#{age},
            </if>
            <if test="studentId!=null">
                student_id=#{studentId},
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>